{% extends "layout.html" %}

{% block title %}

  history

{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for dict in list %}
    <tr>

        <td>{{ dict["symbol"] }} </td>
        <td>{{ dict["shares"] }} </td>
        <td>{{ "$%.2f"|format(dict["price"])  }} </td>
        <td>{{ "$%.2f"|format(dict["total"])  }} </td>
        <td>{{ dict["transacted"] }}</td>


    </tr>
    {% endfor %}
    
</table>
{% endblock %}